.background-container {
    background-image: url('/public/sky.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    overflow-y: auto;
}